<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout";
      layout:decorate="~{/layouts/main}">
<main layout:fragment="content">
    <form method="post">
        <table th:object="${boardForm}">
            <tr>
                <th>글제목</th>
                <td>
                    <input type="text=" name="subject" th:field="*{subject}" th:value="*{subject}">
                    <div th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>글내용</th>
                <td>
                    <input type="textarea" name="content" th:field="*{content}" th:value="*{content}">
                    <div th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>작성일자</th>
                <td>
                    <input type="hidden" name="regDt" th:text="*{#temporals.format(regDt, 'yyyy.MM.dd')}">
                </td>
            </tr>
        </table>
        <button type="submit">수정하기</button>
    </form>
</main>
</html>